asttokens
av
captum
certifi
charset-normalizer
comm
contourpy
cvxopt
cycler
debugpy
decorator
einops
executing
fast-pytorch-kmeans
filelock
fonttools
fsspec
huggingface-hub
idna
imageio
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
# these nvidia packages are for a different architecture.
# commented out on Apple silicon
#nvidia-cublas-cu12==12.4.2.65
#nvidia-cuda-cupti-cu12==12.4.99
#nvidia-cuda-nvrtc-cu12==12.4.99
#nvidia-cuda-runtime-cu12==12.4.99
#nvidia-cudnn-cu12==9.1.0.70
#nvidia-cufft-cu12==11.2.0.44
#nvidia-curand-cu12==10.3.5.119
#nvidia-cusolver-cu12==11.6.0.99
#nvidia-cusparse-cu12==12.3.0.142
#nvidia-nccl-cu12==2.20.5
#nvidia-nvjitlink-cu12==12.4.99
#nvidia-nvtx-cu12==12.4.99
opencv-python
packaging
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pynvml
pyparsing
python-dateutil
PyWavelets
PyYAML
pyzmq
requests
safetensors
scikit-image
scikit-learn
scipy
setuptools
six
stack-data
sympy
threadpoolctl
tifffile
timm
# these torch +cu124 are builds for Nvidia CUDA
# cuda builds commented out on Apple Silicon
#torch==2.4.1+cu124
torch
#torchaudio==2.4.1+cu124
torchaudio
#torchvision==0.19.1+cu124
torchvision
tornado
tqdm
traitlets
#triton==3.0.0
# could not find a version of triton compatible with the rest
# of the installation under python 3.12 (even though there are
# triton versions on pypi compatible up to 3.14)
# https://pypi.org/project/triton/
#triton
ttach
typing_extensions
urllib3
wcwidth
Werkzeug
wrapt

#tensorflow
#keras
onnx2pytorch
ml_dtypes>=0.5.0

onnx
